<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Инфо
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>Статус сбора данных: {{statusBackgroundTask}}</div>
  <ion-button (click)="enableTask()"  color="primary">Включить</ion-button>
  <ion-button (click)="disableTask()" color="danger">Выключить</ion-button>
  <ion-button (click)="loggedConfig()" color="danger">Показать конфиг</ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 11</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 11 page"></app-explore-container>
</ion-content>
