<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Управление
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="false" style="padding-bottom: 20px">
    <ion-label>Сбор данных</ion-label>

    <ng-container *ngTemplateOutlet="appTpl;
        context: {
          status: backgroundTaskService.statusTask | async
        }"></ng-container>
    <ng-template #appTpl let-status="status">
      <ion-button slot="end"
                  *ngIf="!status"
                  (click)="statusClick(status)"
                  size="small" [disabled]="backgroundTaskService.btIsConnecting">Вкл.
      </ion-button>
      <ion-button slot="end"
                  *ngIf="status"
                  (click)="statusClick(status)"
                  size="small" color="danger" [disabled]="backgroundTaskService.btIsConnecting">Выкл.
      </ion-button>
    </ng-template>

  </ion-item>

  <p>Статус подключения - {{ backgroundTaskService.connStatus | async }}</p>


<!--  <ion-button (click)="loggedConfig()" color="danger">Показать конфиг</ion-button>-->
<!--  <ion-button (click)="loggedMetrics()" color="danger">Показать данные метрик</ion-button>-->
</ion-content>
